<%usuarios.forEach((usuario)=>{%>
<p><%= usuario.nombre%></p>

<table class="table"> <--! table-->
    <thead> <--! thead-->
    <tr> <--! fila de la tabla  (table row)-->
        <th scope="col"> <--! table header-->
            ID

        </th>

    </tr>
    </thead>
    <tbody>
    <%usuarios.forEach((usuario)=>{%>
    <tr>  <--! table row-->
        <th scope="row">1</th><%= usuario.id%>
        <td>Mishelle</td>  <--! table detail-->
        <td>1723902472</td>
        <td>
            <button type ="button" class="btn btn-info">
                Editar
            </button>
            <button type ="button" class="btn btn-info">
                Eliminar
            </button>
        </td>

    </tr>
    <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
    </tr>
    <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
    </tr>
    </tbody>
</table>


<%});%>
